.container{
    display: flex;
    flex-direction:row;
    background-color:pink;
    justify-content: space-evenly;
    flex-wrap:wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.item{
    background-color: bisque;
    padding: 10px;
    margin: 20px;
}
.grid-main{
    display: grid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: plum; 
    text-align: center;
}